.home {
    display: flex;
    width: 100%;
    min-height: 100dgit vh;
}

@media (max-width: 1024px) {
    .home .chat-list {
        width: 320px;
    }
}

@media (max-width: 768px) {

    .home .chat-list {
        width: 100%;
        max-width: 100%;
    }

    .home .chat-window {
        display: none;
    }

    .home.chat-active .chat-list {
        display: none;
    }

    .home.chat-active .chat-window {
        display: flex;
    }
}