.chat-item{
    display:flex;
    align-items:center;

    gap:15px;

    padding:15px;

    cursor:pointer;

    transition:background .2s;
}


.chat-item-avatar{
    width:50px;
    height:50px;

    border-radius:50%;

    object-fit:cover;
}

.chat-item-info{
    flex:1;
}

.chat-item-info h4{
    color:var(--text-primary);

    margin:0;

    font-size:16px;
}

.chat-item-info p{
    color:var(--text-secondary);

    margin-top:4px;

    font-size:14px;

    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.chat-item-time{
    color:var(--text-secondary);

    font-size:12px;

    align-self:flex-start;
}

.chat-item:hover{
    background:var(--bg-header);
}

.chat-item.selected{
    background:var(--bg-hover);
}

.chat-item.selected:hover{
    background:var(--bg-hover);
}